<div class="flex gap-x-2">
  <h1 class="mb-5 text-4xl font-bold tracking-tight">Tasks</h1>
  <div id ="tasks_count" class="flex items-center justify-center w-6 h-6 p-3 text-white bg-red-500 rounded-full"><%= tasks_count %></div>
</div>
<div class="mb-5">
  <% @tasks.each do |task| %>
    <%= render task %>
  <% end %>
</div>
<div>
  <%= form_with model: @task do |form| %>
    <%= form.text_field :title, class: "form-input", autofocus: true, required: true %>
    <%= form.submit "Add", class: "bg-gray-900 text-white form-input" %>
  <% end %>
</div>
