<!DOCTYPE html>
<html>
  <head>
    <title>Todo App: Introduction to Hotwire</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>
  <body class="text-gray-900">
    <div class="flex flex-col min-h-screen p-10">
      <header class="pb-10">
        <p class="text-xl font-bold tracking-tight">Todo App</p>
      </header>
      <main class="flex-grow">
        <%= yield %>
      </main>
      <footer class="text-xs">
        Introduction to Hotwire demo app built for Ruby Singapore Meetup in Sep 2023.
      </footer>
    </div>
  </body>
</html>
